__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache/

.env/
.venv/
*.venv/
*.virtualenv/

.qtcreator/
*.user
*.pro.user
*.autosave
*.layout
*.qmlproject.user

build/
dist/
*.egg-info/

.DS_Store
Thumbs.db
desktop.ini

*.log
*.tmp
*.temp

cookies.txt